In [46]:
states_dict = {
    1: "Alabama",
    2: "Alaska",
    3: "Arizona",
    4: "Arkansas",
    5: "California",
    6: "Colorado",
    7: "Connecticut",
    8: "Delaware",
    9: "District of Columbia",
    10: "Florida",
    11: "Georgia",
    12: "Hawaii",
    13: "Idaho",
    14: "Illinois",
    15: "Indiana",
    16: "Iowa",
    17: "Kansas",
    18: "Kentucky",
    19: "Louisiana",
    20: "Maine",
    21: "Maryland",
    22: "Massachusetts",
    23: "Michigan",
    24: "Minnesota",
    25: "Mississippi",
    26: "Missouri",
    27: "Montana",
    28: "Nebraska",
    29: "Nevada",
    30: "New Hampshire",
    31: "New Jersey",
    32: "New Mexico",
    33: "New York",
    34: "North Carolina",
    35: "North Dakota",
    36: "Ohio",
    37: "Oklahoma",
    38: "Oregon",
    39: "Pennsylvania",
    40: "Rhode Island",
    41: "South Carolina",
    42: "South Dakota",
    43: "Tennessee",
    44: "Texas",
    45: "Utah",
    46: "Vermont",
    47: "Virginia",
    48: "Washington",
    49: "West Virginia",
    50: "Wisconsin",
    51: "Wyoming"
}

print(states_dict)

{1: 'Alabama', 2: 'Alaska', 3: 'Arizona', 4: 'Arkansas', 5: 'California', 6: 'Colorado', 7: 'Connecticut', 8: 'Delaware', 9: 'District of Columbia', 10: 'Florida', 11: 'Georgia', 12: 'Hawaii', 13: 'Idaho', 14: 'Illinois', 15: 'Indiana', 16: 'Iowa', 17: 'Kansas', 18: 'Kentucky', 19: 'Louisiana', 20: 'Maine', 21: 'Maryland', 22: 'Massachusetts', 23: 'Michigan', 24: 'Minnesota', 25: 'Mississippi', 26: 'Missouri', 27: 'Montana', 28: 'Nebraska', 29: 'Nevada', 30: 'New Hampshire', 31: 'New Jersey', 32: 'New Mexico', 33: 'New York', 34: 'North Carolina', 35: 'North Dakota', 36: 'Ohio', 37: 'Oklahoma', 38: 'Oregon', 39: 'Pennsylvania', 40: 'Rhode Island', 41: 'South Carolina', 42: 'South Dakota', 43: 'Tennessee', 44: 'Texas', 45: 'Utah', 46: 'Vermont', 47: 'Virginia', 48: 'Washington', 49: 'West Virginia', 50: 'Wisconsin', 51: 'Wyoming'}

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"D:\Boston University\Intro to Data Analytics (BA780)\ba780-fall25-a08\FINRA National Financial Capability Study\2009-SxS-v2\NFCS 2009 State Data 220712 v2 copy.csv")
# df = pd.read_csv(r"ba780-fall25-a08\FINRA National Financial Capability Study\2009-SxS-v2\NFCS 2009 State Data 220712 v2 copy.csv")
print(df["STATEQ"].head(10))
print("(------------------------------)")
df["STATEQ"] = df["STATEQ"].map(states_dict)
print(df["STATEQ"].head(10))

0    43
1    44
2    44
3    33
4     5
5     5
6    15
7    39
8    33
9    33
Name: STATEQ, dtype: int64
(------------------------------)
0       Tennessee
1           Texas
2           Texas
3        New York
4      California
5      California
6         Indiana
7    Pennsylvania
8        New York
9        New York
Name: STATEQ, dtype: object

In [48]:
divisions_dict = {
    1: "New England",
    2: "Middle Atlantic",
    3: "East North Central",
    4: "West North Central",
    5: "South Atlantic",
    6: "East South Central",
    7: "West South Central",
    8: "Mountain",
    9: "Pacific"
}

In [49]:
print(df["CENSUSDIV"].head(10))
print("(------------------------------)")
df["CENSUSDIV"] = df["CENSUSDIV"].map(divisions_dict)
print(df["CENSUSDIV"].head(10))

0    6
1    7
2    7
3    2
4    9
5    9
6    3
7    2
8    2
9    2
Name: CENSUSDIV, dtype: int64
(------------------------------)
0    East South Central
1    West South Central
2    West South Central
3       Middle Atlantic
4               Pacific
5               Pacific
6    East North Central
7       Middle Atlantic
8       Middle Atlantic
9       Middle Atlantic
Name: CENSUSDIV, dtype: object

In [50]:
regions_dict = {
    1: "Northeast",
    2: "Midwest",
    3: "South",
    4: "West"
}

In [51]:
print(df["CENSUSREG"].head(10))
print("(------------------------------)")
df["CENSUSREG"] = df["CENSUSREG"].map(regions_dict)
print(df["CENSUSREG"].head(10))

0    3
1    3
2    3
3    1
4    4
5    4
6    2
7    1
8    1
9    1
Name: CENSUSREG, dtype: int64
(------------------------------)
0        South
1        South
2        South
3    Northeast
4         West
5         West
6      Midwest
7    Northeast
8    Northeast
9    Northeast
Name: CENSUSREG, dtype: object

In [52]:
gender_dict = {
    1: "Male",
    2: "Female"
}

In [53]:
print(df["A3"].head(10))
print("(------------------------------)")
df["A3"] = df["A3"].map(gender_dict)
print(df["A3"].head(10))

0    2
1    1
2    1
3    2
4    1
5    2
6    2
7    1
8    2
9    1
Name: A3, dtype: int64
(------------------------------)
0    Female
1      Male
2      Male
3    Female
4      Male
5    Female
6    Female
7      Male
8    Female
9      Male
Name: A3, dtype: object

In [54]:
age_dict = {1:"18-24",2:"25-34",3:"35-44",4:"45-54",5:"55-64",6:"65+"}

In [55]:
print(df["A3Ar_w"].head(10))
print("(------------------------------)")
df["A3Ar_w"] = df["A3Ar_w"].map(age_dict)
print(df["A3Ar_w"].head(10))

0    2
1    5
2    5
3    3
4    6
5    3
6    4
7    4
8    3
9    3
Name: A3Ar_w, dtype: int64
(------------------------------)
0    25-34
1    55-64
2    55-64
3    35-44
4      65+
5    35-44
6    45-54
7    45-54
8    35-44
9    35-44
Name: A3Ar_w, dtype: object

In [56]:
gender_age_dict = {
    1:"Male 18-24",2:"Male 25-34",3:"Male 35-44",4:"Male 45-54",5:"Male 55-64",6:"Male 65+",
    7:"Female 18-24",8:"Female 25-34",9:"Female 35-44",10:"Female 45-54",11:"Female 55-64",12:"Female 65+"
}

In [57]:
print(df["A3B"].head(10))
print("(------------------------------)")
df["A3B"] = df["A3B"].map(gender_age_dict)
print(df["A3B"].head(10))

0     8
1     5
2     5
3     9
4     6
5     9
6    10
7     4
8     9
9     3
Name: A3B, dtype: int64
(------------------------------)
0    Female 25-34
1      Male 55-64
2      Male 55-64
3    Female 35-44
4        Male 65+
5    Female 35-44
6    Female 45-54
7      Male 45-54
8    Female 35-44
9      Male 35-44
Name: A3B, dtype: object