In [40]:
#How does financial literacy vary across age groups and genders in the 2024 NFCS data?
#How does financial literacy vary across regions and divisions in the 2024 NFCS data?

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# === 1) Load original dataset ===
original_df = pd.read_csv("NFCS 2024 State Data 250623.csv")



# === 2) Dictionary Mapping ===
states = {
    1: "Alabama",
    2: "Alaska",
    3: "Arizona",
    4: "Arkansas",
    5: "California",
    6: "Colorado",
    7: "Connecticut",
    8: "Delaware",
    9: "District of Columbia",
    10: "Florida",
    11: "Georgia",
    12: "Hawaii",
    13: "Idaho",
    14: "Illinois",
    15: "Indiana",
    16: "Iowa",
    17: "Kansas",
    18: "Kentucky",
    19: "Louisiana",
    20: "Maine",
    21: "Maryland",
    22: "Massachusetts",
    23: "Michigan",
    24: "Minnesota",
    25: "Mississippi",
    26: "Missouri",
    27: "Montana",
    28: "Nebraska",
    29: "Nevada",
    30: "New Hampshire",
    31: "New Jersey",
    32: "New Mexico",
    33: "New York",
    34: "North Carolina",
    35: "North Dakota",
    36: "Ohio",
    37: "Oklahoma",
    38: "Oregon",
    39: "Pennsylvania",
    40: "Rhode Island",
    41: "South Carolina",
    42: "South Dakota",
    43: "Tennessee",
    44: "Texas",
    45: "Utah",
    46: "Vermont",
    47: "Virginia",
    48: "Washington",
    49: "West Virginia",
    50: "Wisconsin",
    51: "Wyoming"
}
original_df['STATEQ'] = original_df['STATEQ'].map(states)



census_divisions = {
    1: "New England",
    2: "Middle Atlantic",
    3: "East North Central",
    4: "West North Central",
    5: "South Atlantic",
    6: "East South Central",
    7: "West South Central",
    8: "Mountain",
    9: "Pacific"
}
original_df['CENSUSDIV'] = original_df['CENSUSDIV'].map(census_divisions)



census_regions = {
    1: "Northeast",
    2: "Midwest",
    3: "South",
    4: "West"
}
original_df['CENSUSREG'] = original_df['CENSUSREG'].map(census_regions) 



gender = {
    1: "Male",
    2: "Female"
}
original_df['A50A'] = original_df['A50A'].map(gender)



age_groups = {
    1: "18-24",
    2: "25-34",
    3: "35-44",
    4: "45-54",
    5: "55-64",
    6: "65+"
}
original_df['A3Ar_w'] = original_df['A3Ar_w'].map(age_groups)



gender_age = {
    1: "Male 18-24",
    2: "Male 25-34",
    3: "Male 35-44",
    4: "Male 45-54",
    5: "Male 55-64",
    6: "Male 65+",
    7: "Female 18-24",
    8: "Female 25-34",
    9: "Female 35-44",
    10: "Female 45-54",
    11: "Female 55-64",
    12: "Female 65+"
}
original_df['A50B'] = original_df['A50B'].map(gender_age)



ethnicity = {
    1: "White non-Hispanic",
    2: "Non-White"
}
original_df['A4A_new_w'] = original_df['A4A_new_w'].map(ethnicity)



education = {
    1: "Did not complete high school",
    2: "High school graduate - regular high school diploma",
    3: "High school graduate - GED or alternative credential",
    4: "Some college, no degree",
    5: "Associate's degree",
    6: "Bachelor's degree",
    7: "Post graduate degree",
    99: "Prefer not to say"
}
original_df['A5_2015'] = original_df['A5_2015'].map(education)



marital_status = {
    1: "Married",
    2: "Single",
    3: "Separated",
    4: "Divorced",
    5: "Widowed/widower",
    99: "Prefer not to say"
}
original_df['A6'] = original_df['A6'].map(marital_status)



living_arrangements = {
    1: "I am the only adult in the household",
    2: "I live with my spouse/partner/significant other",
    3: "I live in my parents' home",
    4: "I live with other family, friends, or roommates",
    99: "Prefer not to say"
}
original_df['A7'] = original_df['A7'].map(living_arrangements)



marital_status_variable = {
    1: "Married",
    2: "Living with partner",
    3: "Single"
}
original_df['A7A'] = original_df['A7A'].map(marital_status_variable)



children_dependent = {
    1: "1",
    2: "2",
    3: "3",
    4: "4 or more",
    5: "No financially dependent children",
    6: "Do not have any children",
    99: "Prefer not to say"
}
original_df['A11'] = original_df['A11'].map(children_dependent)



approx_annual_income = {
    1: "Less than $15,000",
    2: "At least $15,000 but less than $25,000",
    3: "At least $25,000 but less than $35,000",
    4: "At least $35,000 but less than $50,000",
    5: "At least $50,000 but less than $75,000",
    6: "At least $75,000 but less than $100,000",
    7: "At least $100,000 but less than $150,000",
    8: "At least $150,000 but less than $200,000",
    9: "At least $200,000 but less than $300,000",
    10: "$300,000 or more",
    98: "Don't know",
    99: "Prefer not to say"
}
original_df['A8_2021'] = original_df['A8_2021'].map(approx_annual_income)



armed_services = {
    1: "Currently a member of the U.S. Armed Services",
    2: "Previously a member of the U.S. Armed Services",
    3: "Never a member of the U.S. Armed Services",
    99: "Prefer not to say"
}
original_df['AM21'] = original_df['AM21'].map(armed_services)



questionnaire_version = {
    1: "Core questions",
    2: "Military"
}
original_df['X3'] = original_df['X3'].map(questionnaire_version)



f

NameError: name 'f' is not defined

In [37]:
print(original_df.head(6))

       NFCSID      STATEQ           CENSUSDIV CENSUSREG    A50A A3Ar_w  \
0  2024010001        Ohio  East North Central   Midwest  Female  35-44
1  2024010002  Washington             Pacific      West    Male    65+
2  2024010003      Oregon             Pacific      West    Male    65+
3  2024010004  Washington             Pacific      West  Female    65+
4  2024010005       Texas  West South Central     South  Female    65+
5  2024010006     Arizona            Mountain      West  Female  45-54

           A50B           A4A_new_w                  A5_2015               A6  \
0  Female 35-44  White non-Hispanic        Bachelor's degree          Married
1      Male 65+  White non-Hispanic       Associate's degree  Widowed/widower
2      Male 65+  White non-Hispanic  Some college, no degree          Married
3    Female 65+  White non-Hispanic     Post graduate degree          Married
4    Female 65+           Non-White     Post graduate degree         Divorced
5  Female 45-54  White non-Hispanic        Bachelor's degree           Single

   ... M6  M7  M8  M31  M50  M9  M10    wgt_n2    wgt_d2    wgt_s3
0  ...  1   3  98   98   98   1    2  1.153548  1.123949  0.859644
1  ...  1   3  98    3    3   1    2  1.398688  0.863440  0.975078
2  ...  1   3   1   98   98   2    2  1.398688  0.472645  0.893974
3  ...  1   3   1    4   98   1    2  1.250293  0.614156  0.778748
4  ...  1   3   2    3    2   1    1  1.250076  2.228957  0.783507
5  ...  1   3   2    3    1   1    2  0.359551  1.851883  0.861736

[6 rows x 133 columns]